<html ng-app="rsaApp">
    <head>
        <title>RSA Encryption</title>
        <script src="angular.js"></script>
        <script src="angular-local-storage.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1 align="center">RSA Encryption</h1>
        <div ng-controller="rsaCtrl as ctrl" align="center">
            <p>Enter prime numbers <input ng-model="ctrl.p" type="number"/> & <input ng-model="ctrl.q" type="number"/></p>
            <p>Enter Text <input ng-model="ctrl.text" type="text"/></p>
            <a href="result.htm"><button ng-click="ctrl.setRSAStorage()" type="button">Submit</button></a>
        </div>
    </body>
</html>